@import '~/styles/variables';

.friends-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
    background-color: $background-color-medium-gray;
    padding: 2rem 4rem;
}

@media (min-width: 890px) and (max-width: 1068px) {
    .friends-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 740px) and (max-width: 889px) {
    .friends-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 560px) and (max-width: 739px) {
    .friends-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 400px) and (max-width: 559px) {
    .friends-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 399px) {
    .friends-wrapper {
        grid-template-columns: repeat(1, 1fr);

        .friend-wrapper {
            justify-self: center;
        }
    }
}
