@import '~/styles/variables';

.dashboard-wrapper {
    position: absolute;
    top: 5.4rem;
    right: 2.6rem;
    font-size: 1.6rem;
    box-shadow: 0 0 0.6rem 0 $box-shadow;
    padding: 0.8rem 0.8rem;
    border-radius: 0.8rem;

    .menu {
        width: 36rem;
    }

    .dashboard-link {
        color: $text;
        font-weight: 600;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem;
        margin: -1rem;

        .dashboard-link-icon {
            display: block;
            margin-right: 0.6rem;
            font-size: 2rem;
            color: $main-color;
        }

        .dashboard-avatar {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 0.1rem solid $border;
            margin-right: 0.6rem;
        }
    }

    .dashboard-item {
        padding: 0.8rem 0.8rem;
        border-radius: 0.8rem;

        &:hover {
            background-color: $background-color-medium-gray;
            cursor: pointer;
        }
    }
}

.modal-title {
    font-size: 2rem;
    font-weight: 600;
}

.btn-cancel {
    font-size: 1.6rem;
    color: #0d6efd;
    cursor: pointer;
    padding: 0 1rem;
    height: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;

    &:hover {
        background-color: $background-color-gray;
    }
}
