@import '~/styles/variables';

.btn-show__mobile-label {
    position: fixed;
    right: 0;
    display: none;
    margin-right: 1rem;
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
    background-color: $background-color-medium-gray;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $box-shadow;
}

.btn-show__mobile-checkbox {
    display: none;
}

.wrapper {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    max-height: 84vh;
    margin-top: 2rem;
    margin-right: 2.6rem;
    top: 7.6rem;
    position: sticky;
    background-color: #fff;
    right: 0;
    max-width: 28rem;
}

.friends-list-wrapper {
    width: 100%;

    &.scroll:hover {
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0.8rem;
        }
        &::-webkit-scrollbar-track {
            background: #fff;
            border-radius: 0.4rem;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 0.4rem;
        }
    }

    .title {
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 0.6rem;
        margin-left: 0.8rem;
    }

    .friend {
        display: flex;
        align-items: center;
        padding: 0.8rem;
        cursor: pointer;
        border-radius: 0.8rem;

        &:hover {
            background-color: $background-color-gray;
        }

        .friend-avatar {
            position: relative;

            img {
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 50%;
                margin-right: 0.6rem;
                border: 1px solid $border;
            }

            &.is-online::before {
                content: '';
                display: block;
                background-color: green;
                width: 0.8rem;
                height: 0.8rem;
                position: absolute;
                border-radius: 50%;
                bottom: 0;
                right: 0.8rem;
            }
        }

        .friend-name {
            font-size: 1.6rem;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media (max-width: 940px) {
    .wrapper {
        border-radius: 0.8rem;
        display: none;
        position: fixed;
        box-shadow: 0 0 0 2px $box-shadow;
        padding: 1.2rem 1.2rem;
        top: 10.4rem;

        .friends-list-wrapper {
            padding-left: 0;
        }
    }

    .btn-show__mobile-label {
        display: flex;

        .btn-show__mobile-icon {
            font-size: 2rem;
        }
    }

    .btn-show__mobile-checkbox:checked ~ .wrapper {
        display: block;
    }
}
