@import '~/styles/variables';

.header {
    padding: 0.8rem 2.6rem 0.8rem 1.6rem;
    box-shadow: 0 0 0.4rem 0 #d8d3d3;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;

    .logo {
        width: 4rem;
        height: 4rem;
    }

    .search-wrapper {
        margin-left: 1rem;
        padding: 0 1.2rem;
        border-radius: 3rem;
        border: none;
        background-color: $background-color-medium-gray;

        .search-icon {
            font-size: 1.6rem;
        }
        .search-input {
            border: none;
            outline: none;
            background-color: $background-color-medium-gray;
        }

        .search-result-wrapper {
            position: fixed;
            top: 5.6rem;
            left: 0;
            background-color: #fff;
            z-index: 9999;
            width: 32rem;
            box-shadow: 1rem 1rem 1rem 1rem $box-shadow;
            padding: 0.8rem;

            .search-result-item {
                display: flex;
                align-items: center;
                padding: 0.4rem 0.8rem;
                border-radius: 0.8rem;
                cursor: pointer;
                color: $text;

                &:hover {
                    background-color: $background-color-gray;
                }

                .search-result-item-image {
                    width: 3.6rem;
                    height: 3.6rem;
                    border-radius: 50%;
                    margin-right: 1rem;
                }

                .search-result-item-name {
                    font-size: 1.5rem;
                }

                .search-result-item-more-info {
                    font-size: 1.3rem;
                }
            }
        }
    }

    .action-user {
        border-radius: 50%;
        background-color: $background-color-medium-gray;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        margin-left: 1.2rem;
        position: relative;

        .number-of-notifications {
            position: absolute;
            top: -0.6rem;
            right: -0.4rem;
            background-color: rgb(228, 30, 63);
            font-size: 1.2rem;
            color: #fff;
            width: 1.9rem;
            height: 1.9rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .action-user-icon {
            width: 2.1rem;
            user-select: none;
        }
    }
}

@media (max-width: 739px) {
    .header {
        .search-wrapper {
            .search-input {
                display: none;
            }
        }
    }
}
